%p Service to manage web file storage. Technologies in use:
%ul
	%li <a href="http://nginx.net/">nginx</a>
	%li <a href="http://www.sinatrarb.com/">sinatra</a>
	%li <a href="http://www.mongodb.org">MongoDB</a>
	%li <a href="http://www.mongodb.org/display/DOCS/GridFS+Specification">GridFs</a>